@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', sans-serif;
}

/* background image */

body {
    background-image: url("../images/project-img/bgrnd-img.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #D9D9D9; /* background colour while image is loading */
}

/* game area */
.game-area {
    width: 100%;
    margin: auto;
    text-align: center;
}

.scores {
    margin-bottom: 6px;
}

p, button {
    font-family: 'Quicksand', sans-serif;
}

/* buttons */
button {
    font-size: 20px;
    font-weight: 400;
    background-color: goldenrod;
    color: white;
    border-color: goldenrod;
    border-radius: 1rem;
    border-style: hidden;

    padding: 8px;
}

button:hover {
    background-color: black ;
}

/* heading and paragraphs */
h1 {
    font-size: 45px;
    padding-bottom: 15px;
    padding-top: 10px;
}

p {
    padding-bottom: 15px;
}

